*{
  padding: 0;
  margin: 0;
  outline: 0;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
header{
  background-color: #0872b9;
}
ody{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.Head_left{
  font-size: 14px;
  color: #e7e7e7;
  margin-top: 12px;
  margin-bottom: 10px;
  font-family: 'Open Sans';

}
.Head_right{
  float: right;
  margin-top: 10px;
  margin-bottom: 8px;
}
.Head_right a{
  padding-right: 25px;
  color:#e7e7e7;
}
.Head_right a:hover{
  color: #2c4760;
}
.bg_color{
  background-color: #ffffff;
}
.navbar-nav .nav-item .nav-link{
  color: black;
}
.navbar-nav .nav-item .active{
  color:Blue;
}
#banner{
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner_bg{
  background-color: rgba(0, 0, 0, 0.6);
}
.banner_overlay{
  padding: 87px 0;
}
.banner_head{
  text-align: right;
}
.banner_head h4{
  font-size: 30px;
  font-family: 'Oswald',sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
}
.banner_head h1{
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight:700;
  color: white;
}
.banner_head p{
padding-bottom: 20px;
color: white;
}
.banner_head a{
  margin-top:20px;
  padding: 13px 25px;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 10px;
}
.banner_head a:hover{
  background-color:  #0872b9;
  border: 2px solid #0872b9;
  transition: all linear .3s;
}
.about_heading h1{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 500;
}
.about_heading{
  position: relative;
}
.about_heading img{
  position: absolute;
  top: 32px;
  left: 509px;
}
.about_para{
  margin-top: 44px;
}
.ser_part{
  margin-top: 30px;
}
.Service_head{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 500;
}
.Service_head{
  position: relative;
}
.Service_head img{
  position: absolute;
  top: 32px;
  left: 512px;
}
.service_icon_main{
  height: 80px;
  width: 80px;
  background-color: f1f1f1;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -36px;
  left: 135px;
}
.ser_main{
  position: relative;
  margin-bottom: 30px;
}

.service_icon{
  height: 70px;
  width: 70px;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_cont{
  background-color: #f1f1f1;
  text-align: center;
  padding: 50px 22px 22px;
}
.service_cont h4{
    font-family: 'Oswald',sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
.service_cont p{
  font-family: 'open sans',sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #555555;
}
.ser_main:hover .service_icon{
  background: #5bc5f4;
  transition: all linear .3s;
  box-shadow: 0 0 10px black;
}
.ser_main:hover{
  box-shadow: 0 0 10px black;
  transition: all linear .3s;
}
.portfolio_heading{
  position: relative;
}
.portfolio_heading h4{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 500;
}
.portfolio_img{
  text-align: center;
}
.portfolio_heading img{
  position: absolute;
  top: 32px;
  left: 482px;
}
.img1,.img2{
  margin-bottom: 20px;
  position: relative;
}
.gly_overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.img1:hover .gly_overlay,.img2:hover .gly_overlay{
  transform: scale(1);
  transition: all linear.3s;
}
.gly_overlay a{
  color: #fff;
  background-color: #5bc5f4;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.Team_img{
  position: relative;
}
.team_glyover{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-color: rgb(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all linear .3s;
}
.team_glyover ul{
  padding-left: 0;
}
.team_glyover ul li{
  padding-top: 10px;
}
.team_glyover ul li a{
  color: #fff;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
}
.team_glyover ul li a:hover{
  background-color: #5bc5f4;
  border: 2px solid #5bc5f4;
}
.team_cont{
  text-align: center;
}
.team_cont h4{
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  margin-top: 10px;
  font-weight: 500;
}
.main_team:hover .team_cont h4{
  color: #5bc5f4;

}
.main_team:hover .team_glyover{
  transform: scale(1);
  transition: all linear .3s;
}
.testi_cont{
  background-color: #f1f1f1;
  text-align: center;
  margin-top: 30px;
  position: relative;
}
.testi_cont ul{
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
.testi_cont ul li{
  float: left;
}
.round_img{
  text-align: center;
}
.testi_cont h4{
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
}
.testi_cont h6{
  font-size: 16px;
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
}
.testi_cont p{
  font-size: 13px;
  font-family: 'open sans',sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}
.testi_cont ul li a{
  color: #5bc5f4;
}
.piramid{
  height: 40px;
  width: 40px;
  background-color: #f1f1f1;
  position: absolute;
  top: -20px;
  left: 253px;
  transform: rotate(45deg);
}
.Testiomial_part{
  text-align: center;
}
#footer{
  background: #353535;
}
.footer_sec{
  margin-top: 60px;
}
.Footer_icon{
  padding-top: 20px;
}
.icon_side p{
  padding-top: 30px;
  padding-bottom: 48px;
  font-size: 13px;
  font-family: 'open sans',sans-serif;
  font-weight: 400;
  color: #f1f1f1;
}
.footer_comm h4{
  color: #f1f1f1;
  padding-top: 45px;
  font-size: 16px;
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}
.con_icon a{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  line-height: 40px;
  background-color: #5bc5f4;
  text-align: center;
  display: block;
  margin-top: 7px;
}
.con_number p{
  font-size: 13px;
  font-family: 'open sans',sans-serif;
  font-weight: 400;
  color: #f1f1f1;
}
.link_left ul{
  padding-left: 0px;
}
.link_left ul li{
  padding-bottom: 13px;
}
.link_left ul li a{
  color: #f1f1f1;
}
.link_left ul li a:hover{
  color: #5bc5f4;
}
#footerr{
  background-color: #555555;
  padding-top: 10px;
  padding-bottom: 5px;
}
#footerr p{
  text-align: center;
  color: white;

}
